{
	"extends": "@nti/eslint-config-lib-scripts",
	"parser": "espree",
	"parserOptions": {
		"sourceType": "script",
		"ecmaFeatures": {
			"impliedStrict": false
		}
	},

	"rules": {
		"strict": ["error", "global"],
		"import/no-commonjs": 0,
		"no-restricted-globals": 0
	}
}
